.endpoint-details-dropdown-button{
	background-color: #777777; 
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.endpoint-item{
	padding: 3px 1px;
	font-family: "Times New Roman", Times, serif;
}

.endpoint-details-dropdown-table
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #111;
}

.endpoint-details-dropdown-table th {
    padding: 8px;
}

.endpoint-details-dropdown-table tr:nth-child(even){background-color: #f2f2f2;}

.endpoint-details-dropdown-table tr:hover {background-color: #ddd;}
